nav {
    font-size: 30px;
    padding: 20px;
    background-color: #00ddfc;
    color: white;
  }

  .title {
    float: left;
  }
  
  .header {
    float: left;
    margin-left: 30%;
  }
  .score {
    float: right;
  }